.btnBuscar{
    margin-top: 0%;
    margin-left: 99%;
    color:white !important;
    border-radius: 100% !important;
    position:absolute !important;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16)!important;
    height: 4rem !important;
    background-color:#c99a64;
}

.CardTabla{
    position: inherit;
    z-index:2;
}
.Carfiltro{
    background: linear-gradient(60deg, #fafafa, #fafafa) !important;
    color:black;
}
.my-fixed-item {
    position: fixed!important;
    word-wrap: break-word;
    margin-left: 34%;
    z-index:1;
    bottom:0;
}
.iconos{
    font-size: 58px;
    cursor: pointer;
    color: chocolate;
}
#custom-search-input {
  margin:0;
  margin-top: 10px;
  padding: 0;
}

#custom-search-input .search-query {
  width:100%;
  padding-right: 3px;
  padding-left: 15px;
      /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 0;
}

#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: absolute;
  right:0;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#D9230F;
  cursor: unset;
  z-index: 2;
}

.search-query:focus{
  z-index: 0;
}
