
.CardTabla{
    position: inherit;
    z-index:2;
}

.my-fixed-item {
    position: fixed!important;
    word-wrap: break-word;
    margin-left: 34%;
    z-index:1;
    bottom:0;
}
.iconos{
    font-size: 58px;
    cursor: pointer;
    color: #9830B0;
}

#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: absolute;
  right:0;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: unset;
  z-index: 2;
}

.search-query{
  width: 600px!important; 
  text-align:center;
  display: flex;
  color: white;
  border:none;
  border-bottom: 1px  white;
  outline: none;
  
}
.card-body{
  text-align: center;
}