<!-- Front para usuarios -->
<mat-card class="perfil-card">
    <mat-card-header class="Portada">
    </mat-card-header>
    <div mat-card-avatar class="perfil-header">
        <div mat-card-avatar class="example-header-image">
        </div>
        <!-- <div class="carnet">
            <div class="letras">
                <mat-card-title>
                    <a>

                    </a>
                </mat-card-title>
                 <label class="labels">{{Nombres}} {{Apellidos}}</label><br>
                <label  class="labels">BOGOTA</label><br>
                <label class="labels">{{barrio2}}</label><br>
                <label  class="labels">{{direccion}}</label><br> 
            </div>
        </div> -->
    </div>
    <button mat-raised-button class="Btn" matTooltip="Editar" (click)="Editar()" *ngIf="!Eeditar">
        <mat-icon>edit</mat-icon>
    </button>
    <!-- Boton guardar -->
    <button mat-raised-button class="Btn"  matTooltip="Guardar" *ngIf="!Eguardar" (click)="Guardar()">
        <mat-icon>save</mat-icon>
    </button>
    <mat-card-footer>
        <mat-tab-group mat-align-tabs="center" animationDuration="2000ms">
            <mat-tab label="Información" mat-align-tabs="center">
                <mat-grid-list cols="3" rowHeight="100px">
                    <mat-grid-tile>
                        <mat-form-field class="TamañoGrande">
                            <input matInput placeholder="Nombres" name="Nombres" [(ngModel)]="Nombres" disabled="{{Estado}}">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="TamañoPequeño">
                            <input matInput placeholder="Apellidos" name="Apellidos" [(ngModel)]="Apellidos" disabled="{{Estado}}">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="TamañoGrande">
                            <input type="password" matInput placeholder="Contraseña" name="pass" [(ngModel)]="pass" disabled="{{Estado}}">
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="3" rowHeight="100px">
                    <mat-grid-tile>
                        <mat-form-field class="TamañoPequeño">
                            <input type="password" matInput placeholder="Contraseña" name="pass2" [(ngModel)]="pass2" disabled="{{Estado}}">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="TamañoGrande">
                            <mat-label>Tipo documento</mat-label>
                            <mat-select required [value]="TipoDoc" name="TipoDoc" [(ngModel)]="TipoDoc" disabled="{{Estado}}">
                                <mat-option *ngFor="let doc of raiddocumentos" [value]="doc.IdTipoDocumento" >
                                    {{doc.Descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="TamañoPequeño">
                            <input matInput placeholder="Número de documento" disabled name="documento" [(ngModel)]="documento">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="TamañoGrande" >
                            <mat-label>Fecha Nacimiento</mat-label>
                            <input matInput [matDatepicker]="picker" (focus)="picker.open()"
                                placeholder="Fecha Nacimiento" readonly name="fechanacimiento" [(ngModel)]="fechanacimiento" [value]="fechanacimiento" disabled="{{Estado}}">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        </mat-form-field>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="TamañoPequeño">
                            <mat-label>Genero</mat-label>
                            <mat-select [value]="genero" name="genero" [(ngModel)]="genero">
                                <mat-option [value]="1">
                                    Mujer
                                </mat-option>
                                <mat-option [value]="2">
                                    Hombre
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-tab>
            <mat-tab label="Contacto">
                <mat-grid-list cols="3" rowHeight="100px">
                    <mat-grid-tile>
                        <mat-form-field class="TamañoGrande">
                            <input matInput placeholder="Correo" name="email" [(ngModel)]="email" disabled="{{Estado}}">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="TamañoPequeño">
                            <input matInput placeholder="Telefono" name="Telefono" [(ngModel)]="Telefono" disabled="{{Estado}}">
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field class="TamañoGrande">
                            <input matInput placeholder="Celular" name="Celular" [(ngModel)]="Celular" disabled="{{Estado}}">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="TamañoPequeño">
                            <mat-label>Barrio</mat-label>
                            <mat-select required [value]="barrio" name="barrio" [(ngModel)]="barrio" disabled="{{Estado}}">
                                <mat-option *ngFor="let ba of raidbarrios" [value]="ba.IdBarrio">
                                    {{ba.Descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="TamañoGrande">
                            <input matInput placeholder="Dirección" name="direccion" [(ngModel)]="direccion" disabled="{{Estado}}">
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-tab>
        </mat-tab-group>
       
    </mat-card-footer>
</mat-card>



